In [6]:
import pandas as pd
import numpy as np
import math as m

In [7]:
fert_rate = [1.3, 1.95, 2.466, 1.6, 2.952, 1.801, 1.34, 1.34, 1.63, 2.326, 2.436, 6.563, 1.283, 1.43, 1.988, 1.61, 1.921, 2.4, 1.495, 4.705]
life_ex = [76.84878, 81.40732, 77.57895, 74.16341, 68.84907, 73.88595, 75.26829, 76.26098, 80.57244, 65.46259, 67.5482, 55.02451, 76.2799, 82.29024, 69.80695, 81.40112, 82.19756, 74.22683, 80.12888, 45.55095]
ids = [x for x in range (1,21)]

# Miary położenia i rozproszenia dla dzietności

In [8]:
mean_fr = sum(fert_rate)/len(fert_rate)
v_fr = sum([(x - mean_fr)**2 for x in fert_rate])/len(fert_rate)
st_dev_fr = m.sqrt(v_fr)
print(mean_fr)
print(v_fr)
print(st_dev_fr)

2.2268
1.5820880600000002
1.2578108204336613

 # Miary położenia i rozproszenia dla średniej długości życia

In [9]:
mean_le = sum(life_ex)/len(life_ex)
v_le = sum([(x - mean_le)**2 for x in life_ex])/len(life_ex)
st_dev_le = m.sqrt(v_le)
print(mean_le)
print(v_le)
print(st_dev_le)

73.237646
83.78440677763399
9.153382258904847

# Kowariancja i korelacja

In [10]:
by_countries = list(zip(fert_rate, life_ex))
products = [x[0]*x[1] for x in by_countries]
product_exp = mean_le * mean_fr
product_mean = sum(products)/len(products)
covariance = product_mean - product_exp
print(covariance)
correlation = covariance/(st_dev_le*st_dev_fr)
print(correlation)

-9.446519224299976
-0.8204930122649553

 - zachodzi bardzo wysoka korelcja ujemna
 - nie potrafię ocenić, czy korelacja jest przypadkowa - trudno wnioskować na podstawie danych z 20 krajów, z jednego roku, bez zróżnicowania na płeć. Znaczenie może mieć stan opieki zdrowotnej w danym, jakość edukacji czy poziom zamożności danego państwa, a zatem czynniki nieuwzglęnione w danych.

# Średnia oczekiwana długość życia dla całej populacji

In [12]:
std_dev = 9.09
prz_ufn = 0.95
n = 20
#sprawdzone w tablicy
wart = 1.96
estimated_population_mean = [mean_le - wart*(std_dev/m.sqrt(n)), mean_le + wart*(std_dev/m.sqrt(n))]
estimated_population_mean

[69.25377784856727, 77.22151415143273]

# to samo w pandas

In [15]:
df = pd.DataFrame(by_countries, columns = ['fertility', 'life expectancy'])
df

    fertility  life expectancy
0       1.300         76.84878
1       1.950         81.40732
2       2.466         77.57895
3       1.600         74.16341
4       2.952         68.84907
5       1.801         73.88595
6       1.340         75.26829
7       1.340         76.26098
8       1.630         80.57244
9       2.326         65.46259
10      2.436         67.54820
11      6.563         55.02451
12      1.283         76.27990
13      1.430         82.29024
14      1.988         69.80695
15      1.610         81.40112
16      1.921         82.19756
17      2.400         74.22683
18      1.495         80.12888
19      4.705         45.55095

In [16]:
df.corr(method ='pearson')

                 fertility  life expectancy
fertility         1.000000        -0.820493
life expectancy  -0.820493         1.000000